<div class="panel-group accordion accordion-lg" id="accordion">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">
                <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion" href="#groupe-{{ groupe.id }}">
                    {{ groupe.nom }}
                </a>
            </span>
            <div class="panel-controls">
                <div class="btn-group">
                    <a href="{{ path('adressesita_new', {'groupe_id':groupe.id}) }}" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i> Ajouter Adresse
                    </a>
                </div>
                <div class="btn-group">
                    <a href="{{ path('groupesita_edit', {'id' :  groupe.id}) }}" class="btn btn-warning">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                </div>
                {#<div class="btn-group">
                    <a href="{{ path("groupesita_delete", {'id':groupe.id}) }}" class="btn btn-danger confirm">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </div>#}
            </div>
        </div>
        <div id="groupe-{{ groupe.id }}" class="panel-collapse collapse" style="height: 0px;">
            <div class="panel-body">
                <p>Aéroport d'attache : {%  if groupe.aeroportAttache  is null %} INDEFINI {% else %} {{ groupe.aeroportAttache.nom }} {% endif %}</p>
                <p>groupe générique : {% if 1==groupe.groupeGenerique %} OUI {% else %} NON {% endif %} (les destinataires d'un tel groupe recoivent automatiquement les messages SITA)</p>
                <div class="panel-group accordion accordion-lg" id="adresse1">
                    {% for adresse in groupe.adresses %}
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">
                                    <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#adresse1" href="#adresse1_{{ adresse.id }}">
                                        {{ adresse.libelle }}
                                    </a>
                                </span>
                                <div class="panel-controls">
                                    <div class="btn-group">
                                        <a href="{{ path('adressesita_edit', {'id':adresse.id}) }}" class="btn btn-warning">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="{{ path('adressesita_delete', {'id':adresse.id}) }}" class="btn btn-danger confirm">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="adresse1_{{ adresse.id }}" class="panel-collapse collapse" style="height: 0px;">
                                <div class="panel-body">
                                    <ul>
                                        <li>Libellé : {{ adresse.libelle }}</li>
                                        <li>Adresse SITA : {{ adresse.adresseSITA }}</li>
                                        <li>Email SITA : {{ adresse.email }}</li>
                                        <li>Aéroport d'attache : {%  if adresse.aeroportAttache  is null %} INDEFINI {% else %} {{ adresse.aeroportAttache.nom }} {% endif %}</li>
                                        <li>Coordinateur pays : {%  if adresse.paysCoordinateur  is null %} INDEFINI {% else %} {{ adresse.paysCoordinateur.libelle }} {% endif %}</li>
                                        <li>Compagnie attachée : {%  if adresse.compagnieAttachee  is null %} INDEFINI {% else %} {{ adresse.compagnieAttachee.nom }} {% endif %}</li>
                                        <li>Suivi de demande de slot : {%  if 1==adresse.suiviDemandeSlot  %} OUI {% else %} NON {% endif %}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>