{% extends 'AirCorsicaXKPlanBundle::layout.html.twig' %}

{% block body %}
    <h1>Adressesitum</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresseSITum.id }}</td>
            </tr>
            <tr>
                <th>Adressesita</th>
                <td>{{ adresseSITum.adresseSITA }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ adresseSITum.libelle }}</td>
            </tr>
            <tr>
                <th>Suividemandeslot</th>
                <td>{% if adresseSITum.suiviDemandeSlot %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datetimemodification</th>
                <td>{% if adresseSITum.dateTimeModification %}{{ adresseSITum.dateTimeModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datetimecreation</th>
                <td>{% if adresseSITum.dateTimeCreation %}{{ adresseSITum.dateTimeCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adressesita_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('adressesita_edit', { 'id': adresseSITum.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
