{% extends 'AirCorsicaXKPlanBundle::layout.html.twig' %}

{% block stylesheets %}

    {% stylesheets
    filter='cssrewrite'
    'bundles/aircorsicaxkplan/assets/admin-tools/admin-forms/less/admin-forms.less'
    filter='less'
    output='css/compiled/admin-forms.css'
    %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}

    {% stylesheets
    filter='cssrewrite'
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/DataTables-1.10.13/css/dataTables.bootstrap.css'
    output='css/compiled/dataTables.css'
    %}

    <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}

{% block title %}
    {% set titre = 'Compagnie' %}
    {{ titre }} - {{ parent() }}
{% endblock %}

{% block body_class %}
    {% set attributes = 'datatables-page' %}
    {{ attributes }}
{% endblock %}

{% block titre_contenu %}
    {% set titre_contenu = 'Compagnie' %}
    {{ titre_contenu }}
{% endblock %}

{% block btn_actions %}
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
            <a href="{{ path('compagnie_new') }}" class="btn btn-success btn-gradient dark btn-block"><i class="glyphicon glyphicon-plus"></i> Ajouter</a>
        </div>
        {#<div class="ib topbar-dropdown">
            <a id="supprimer_items" href="{{ path("compagnie_deletemasse") }}" class="btn btn-danger btn-gradient dark btn-block"><i class="glyphicon glyphicon-trash"></i> Supprimer Sélection</a>
        </div>#}
    </div>
{% endblock %}

{% block body %}
    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">
            <div class="panel panel-visible">
                <div class="panel-heading">
                    <span class="panel-icon">
                      <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                    <span class="panel-title">Listing Compagnies</span>
                </div>
                <div class="panel-body">
                    {#<table class="table admin-form theme-white tc-checkbox-1 fs13 datatable" id="datatable" cellspacing="0" width="100%">#}
                    <table class="table table-striped table-hover admin-form tc-checkbox-1 fs13 datatable" id="datatable" cellspacing="0" width="100%">

                        <thead>
                        <tr>
                            {#<th class="no-sort text-center">
                                <label class="option block mn">
                                    <input type="checkbox" id="tout_cocher" name="tout_cocher" />
                                    <span class="checkbox mn"></span>
                                </label>
                            </th>
                            <th>Id</th>#}
                            <th>Nom</th>
                            <th>Code IATA</th>
                            <th>Code Alternatif</th>
                            <th>Code OACI</th>
                            <th class="no-sort">Modifier</th>
                            {#<th class="no-sort">Supprimer</th>#}
                        </tr>
                        </thead>
                        <tbody>
                        {% for compagnie in compagnies %}
                            <tr>
                                {#<td class="text-center">
                                    <label class="option block mn">
                                        <input class="check" value="{{ compagnie.id }}" type="checkbox" />
                                        <span class="checkbox mn"></span>
                                    </label>
                                </td>
                                <td>{{ compagnie.id }}</td>#}
                                <td>{{ compagnie.nom }}</td>
                                <td>{{ compagnie.codeIATA }}</td>
                                <td>{{ compagnie.codeAlternatif }}</td>
                                <td>{{ compagnie.codeOACI }}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="{{ path('compagnie_edit', { 'id': compagnie.id }) }}" class="btn btn-lg btn-warning">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>
                                    </div>
                                </td>
                                {#<td>
                                    <div class="btn-group">
                                        <a href="{{ path('compagnie_delete', { 'id': compagnie.id }) }}" class="btn btn-lg btn-danger confirm">
                                            <i class="glyphicon glyphicon-trash"></i>
                                        </a>
                                    </div>
                                </td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Content -->
{% endblock %}


{% block javascripts_libs %}
    <!-- Theme Javascript LIBS -->
    {% javascripts
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/DataTables-1.10.13/js/jquery.dataTables.min.js'
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/DataTables-1.10.13/js/dataTables.bootstrap.min.js'
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/Buttons-1.2.4/js/dataTables.buttons.min.js'
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/Buttons-1.2.4/js/buttons.bootstrap.min.js'
    'bundles/aircorsicaxkplan/vendor/plugins/datatables1.10.13/Buttons-1.2.4/js/buttons.html5.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block javascripts_custom %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/aircorsicaxkplan/assets/js/custom_datatables.js') }}"></script>
{% endblock %}
