<!-- Begin: Content -->
<div id="content" class="animated fadeIn">
    <div class="row">

        <div class="theme-primary mw1000 center-block">

            <!-- Input Fields -->
            <div class="panel">

                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

                <div class="panel-heading">
                            <span class="panel-icon">
                                  <i class="fa fa-key"></i>
                            </span>
                    <span class="panel-title">Modification Mot de Passe Utilisateur</span>
                </div>
                <div class="panel-body">

                    {# Les erreurs générales du formulaire. #}
                    {% if not form.vars.valid %}
                        <ul>
                            {# Loop through every form item #}
                            {% for child in form.children %}
                                {# Display the errors of the form item #}
                                {%for error in child.vars.errors%}
                                    <li>{{error.message}}</li>
                                {%endfor%}
                            {%endfor%}
                        </ul>
                    {%endif%}


                    {{ form_widget(form) }}

                    {#<div class="form-group">
                        {{ form_label(form.plainPassword.first, "Mot de passe :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        <div class="col-lg-8">
                            <div class="bs-component">
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder': 'Saisir Mot de passe' } }) }}
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.plainPassword.second, "Répétez Mot de passe :", {'label_attr': {'class': 'col-lg-3 control-label'}}) }}
                        <div class="col-lg-8">
                            <div class="bs-component">
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder': 'Saisir à nouveau le Mot de passe' } }) }}
                            </div>
                        </div>
                    </div>#}
                </div>

                <div class="panel-footer text-right">
                    <button type="submit" class="btn-default btn">Modifier Mot de passe</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
<!-- End: Content -->