{% extends 'AirCorsicaXKPlanBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        filter='cssrewrite'
        'bundles/aircorsicaxkplan/assets/admin-tools/admin-forms/less/admin-forms.less'
        filter='less'
        output='css/compiled/admin-forms.css'
    %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}

{% block title %}
    {% set titre = 'Code Shares Préchargé' %}
    {{ titre }} - {{ parent() }}
{% endblock %}

{% block body_class %}
    {% set attributes = 'admin-elements-page' %}
    {{ attributes }}
{% endblock %}

{% block titre_contenu %}
    {% set titre_contenu = 'Code Shares Préchargé' %}
    {{ titre_contenu }}
{% endblock %}

{% block btn_actions %}
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
            <a href="{{ path('codeinterne_index') }}" class="btn btn-success btn-gradient dark btn-block"><i class="glyphicon glyphicon-circle-arrow-left"></i> Retour</a>
        </div>
    </div>
{% endblock %}

{% block body %}

    {#{ dump(edit_form) }#}
    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">

            <div class="theme-primary mw1000 center-block">
                <div class="form-horizontal">
                    <!-- Input Fields -->
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-icon">
                              <i class="glyphicon glyphicon-edit"></i>
                            </span>
                            <span class="panel-title">Consultation Code Share Préchargé</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Id</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_id" name="codeshareprecharge_id" class="form-control" value="{{ codeSharePrecharge.id }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Libelle</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_libelle" name="codeshareprecharge_libelle" class="form-control" value="{{ codeSharePrecharge.libelle }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Code Interne</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_codeinterne" name="codeshareprecharge_codeinterne" class="form-control" value="{{ codeSharePrecharge.codeInterne }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date modification</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_dateTimeModification" name="codeshareprecharge_dateTimeModification" class="form-control" value="{% if codeSharePrecharge.dateTimeModification %}{{ codeSharePrecharge.dateTimeModification|date('Y-m-d H:i:s') }}{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date création</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_dateTimeCreation" name="codeshareprecharge_dateTimeCreation" class="form-control" value="{% if codeSharePrecharge.dateTimeCreation %}{{ codeSharePrecharge.dateTimeCreation|date('Y-m-d H:i:s') }}{% endif %}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Créateur</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_createur" name="codeshareprecharge_createur" class="form-control" value="{{ codeSharePrecharge.createur }}" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-lg-3 control-label">Date création</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <input type="text" id="codeshareprecharge_modificateur" name="codeshareprecharge_modificateur" class="form-control" value="{{ codeSharePrecharge.modificateur }}" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End: Content -->

{% endblock %}