{% extends 'AirCorsicaXKPlanBundle::layout.html.twig' %}

{% block body %}
    <h1>Template</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ template.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ template.libelle }}</td>
            </tr>
            <tr>
                <th>Production</th>
                <td>{% if template.production %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datetimemodification</th>
                <td>{% if template.dateTimeModification %}{{ template.dateTimeModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datetimecreation</th>
                <td>{% if template.dateTimeCreation %}{{ template.dateTimeCreation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('template_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('template_edit', { 'id': template.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
