{% extends 'AirCorsicaXKPlanBundle::layout.html.twig' %}

{% block stylesheets %}
    {% stylesheets
    filter='cssrewrite'
    'bundles/aircorsicaxkplan/assets/admin-tools/admin-forms/less/admin-forms.less'
    filter='less'
    output='css/compiled/admin-forms.css'
    %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}
    {% stylesheets
    filter='cssrewrite'
    'bundles/aircorsicaxkplan/vendor/plugins/select2-4.0.3/css/select2.css'
    output='css/compiled/core.css'
    %}

    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />

    {% endstylesheets %}
{% endblock %}

{% block title %}
    {% set titre = 'Modification Utilisateur' %}
    {{ titre }} - {{ parent() }}
{% endblock %}

{% block body_class %}
    {% set attributes = 'admin-elements-page' %}
    {{ attributes }}
{% endblock %}

{% block titre_contenu %}
    {% set titre_contenu = 'Utilisateurs' %}
    {{ titre_contenu }}
{% endblock %}

{% block btn_actions %}
    <div class="topbar-right">
        <div class="ib topbar-dropdown">
            <a href="{{ path('utilisateur_index') }}" class="btn btn-success btn-gradient dark btn-block"><i class="glyphicon glyphicon-circle-arrow-left"></i> Retour</a>
        </div>
    </div>
{% endblock %}


{% block body %}

    <!-- Begin: Content -->
    <div id="content" class="animated fadeIn">
        <div class="row">

            <div class="theme-primary mw1000 center-block">

                <!-- Input Fields -->
                <div class="panel">
                    {{ form_start(edit_form) }}

                    <div class="panel-heading">
                            <span class="panel-icon">
                              <i class="glyphicon glyphicon-edit"></i>
                            </span>
                        <span class="panel-title">Edition Utilisateur</span>
                    </div>
                    <div class="panel-body">

                        {# Les erreurs générales du formulaire. #}
                        {% if not edit_form.vars.valid %}
                            <ul>
                                {# Loop through every form item #}
                                {% for child in edit_form.children %}
                                    {# Display the errors of the form item #}
                                    {%for error in child.vars.errors%}
                                        <li>{{error.message}}</li>
                                    {%endfor%}
                                {%endfor%}
                            </ul>
                        {%endif%}

                        {{ form_widget(edit_form) }}

                    </div>
                    <div class="panel-footer text-right">
                        <button type="submit" class="btn-default btn">Modifier</button>
                    </div>

                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- End: Content -->

{% endblock %}

{% block jquery_custom %}
    $(".select2-single").select2({
    language: "fr",
    allowClear: true
    });

    // Init Select2 - Basic Multiple
    $(".select2-multiple").select2({
    language: "fr"
    });
{% endblock %}

{% block javascripts_libs %}
    <!-- Theme Javascript LIBS -->
    {% javascripts
    'bundles/aircorsicaxkplan/vendor/plugins/select2-4.0.3/js/select2.full.js'
    'bundles/aircorsicaxkplan/vendor/plugins/select2-4.0.3/js/i18n/fr.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
